@media only screen and (min-width:601px) {

li{
    display:inline;
    width: 35vh;
    margin-left: auto;
    margin-right: auto;
    font-family: myFont;
}

ul{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.mobileHide{
    display: block;
}

.desktopHide{
    display: none;
}

@font-face {
    font-family: Myfont;
    src: url(fonts/LucidaUnicodeCalligraphy.ttf);
}

@font-face {
    font-family: h2Font;
    src: url(fonts/JosefinSans-VariableFont_wght.ttf);
}

main{
    background-color: #3D0000;
    width: 99%;
    padding: 5px;
    height:105vh;
    border: 3px solid #000000;
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

nav{
    width: 99.8%;
    display: block;
    position: relative;
    background: #3D0000;
    z-index: 1;
    top: 7vh;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
    padding: 3vh;
    font-family: h2Font;
    font-size:1.5vw;
    font: bold;
}

.background{
    background-image: url("mainPagephotos/Untitled-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100% ;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: 100%;
    height: 20vh;
    position: absolute;
}

.header{
    position: relative; 
    top: 0;
    left:0;
    background-color: #3D0000;
    height: 20vh;
    width: 99.8%;
    font-family: MyFont;  
    border: 3px solid #000000; 
    z-index: 1;
    align-self: center;

}

#nav {
    list-style: none inside;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: myFont;

}

#nav li {
    display: inline-block;
    position: relative;
    background: #3D0000;
    z-index: 1;
    font-family: myFont;
}

#nav li a {
    display: inline-block;
    padding: 0;
    text-decoration: none;
    width: 100%;
    line-height: 200%;
    color: #ffffff;
    z-index: 1;
}

#nav li:hover {
    background: #FF0000;
}


#nav ul {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
    z-index: 1;

}

#nav li:hover ul {
    display: block;
}

img{
    width: 90vh;
    height:100vh;
}

.newsPhoto{
    width: 100vh;
    margin: 0 auto;
    height: 103vh;
}

.news{
    display: none;
    position: relative;
}

.newsText{
    position: absolute;
    bottom: 2.95%;
    left: 16%;
    background-color:#000000 ;
    color: #ffffff;
    width: 61.3%;
    text-align: center;
}

#first{
    display: inline-block;
    width: 100%;
}

#dot1{
    top: 124.8%;
    left:35%;
    cursor: pointer;
    position: absolute;
    height: 14px;
    width: 14px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color ease;
}

#dot2{
    top: 124.8%;
    left:33%;
    cursor: pointer;
    position: absolute;
    height: 14px;
    width: 14px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color ease;
}

#dot3{
    top: 124.8%;
    left:31%;
    cursor: pointer;
    position: absolute;
    height: 14px;
    width: 14px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color ease;
}
  
#dot1:hover, #dot2:hover, #dot3:hover {
    background-color: #950101;
}

.active{
    background-color: #950101;

}
  
.content{
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows: 50% 50%;
    justify-content: start;
    width:99%;
    align-content: stretch;
    gap: 0.25%;
}

#slider{
    border: #000000 solid 3px;
    grid-column: 1/5;
    grid-row: 1/3;
}

#square1Photo1{
    display: grid;
}

#square2Photo1{
    display: grid;
}

.square1Photos{
    display: grid;
}

.square2Photos{
    display: none;
}

.square{
    border: #000000 solid 3px;
    width: 53vh;
    position: relative;
}

#square1{
    border: #000000 solid 3px;
}

.square1Photos{
    width: 99%;
    height: 100%;
    
}

.square2Photos{
    width: 100%;
    position: absolute;
    height: 100%;
    
}

#firstAlbum{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: start;
    align-content: stretch;
    gap: 0.6%;
}

.photos{
    height:100%;
    width:100%;
    opacity: 0.4;
}

#thirdAlbum{
    display: none;
}

#secondAlbum{
    display: none;
}

.squareText{
    background-color: #000000;
    color: #ffffff;
    font-family:h2Font;
    position: absolute;
    z-index: 1;
    width: 100.5%;
    height: 22%;
    font-size: 5px;
    top: 0%;
    vertical-align: middle;
}

.albums{
    width:100%;
    height:100%;
    display: none;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: start;
    align-content: stretch;
    gap: 0.6%;
}

.albumText{
    position: absolute;
    bottom:-1%;
    background-color: #000000;
    color: #ffffff;
    z-index: 1;
    width: 100.5%;
}

h3{
    font-family: h2Font;
    text-align: center;
}

footer{
    font-family: Myfont;
    background-color: #3D0000;
    color: #ffffff;
    text-align: center;
    height: 20vh;
    width: 99.8%;
    border: #000000 solid 3px;
    align-items: center;
    vertical-align: middle;
    position: relative;
}
.topnav{
    display: none;
}

#menuMobileItems{
    display: none;
}

audio{
    vertical-align: middle;
    position: absolute;
    top: 30%;
    left: 40%;
}

}